---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hi! I'm Max.</h1>
      <p>
        I'm a student developer and researcher from the Bay Area. I study
        statistical machine learning and computer science at <a
          href="https://www.cmu.edu/">Carnegie Mellon University</a
        >. My work centers on machine learning in cybersecurity, with a
        secondary focus on pedagogy.
      </p>
    </main>
    <Footer />
  </body>
</html>
